/* content */
.profile-wrap {
}

.profile-main-row {
}

.profile-item {
  display: flex;
  align-items: center;
}

.profile-thum-cols {
  flex: 0 0 rem(200);
  height: rem(200);
  position: relative;
  overflow: hidden;
  border-radius: 100%;

  img {
    object-fit: cover;
    object-position: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.profile-spec-cols {
  flex: 1;
  min-width: 0;
  margin-left: rem(20);
}

.profile-main-name {
  font-weight: 700;
  font-size: rem(26);
}

.profile-main-eng {
}

.profile-main-kor {
}

.profile-main-unit {
  opacity: 0.5;
  margin-top: rem(5);
}

.profile-detail-row {
  margin-top: rem(50);
  font-size: rem(16);
  word-break: keep-all;
  line-height: 1.5;
}

.design-obj-wrap {
  display: flex;
  justify-content: flex-end;
}

.design-obj {
  font-weight: 700;
  font-size: rem(300);
  opacity: 0.05;
  line-height: 1;
}

.profile-else-list {
  display: flex;
  flex-wrap: wrap;
  gap: rem(10);
  margin-top: rem(20);

  > li {
  }
}

.profile-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 100% auto;
  width: rem(20);
  height: rem(20);
  margin-left: rem(5);

  /* &.icon-notion {
    background-image: url("../images/icon_notion.jpg");
  }

  &.icon-insta {
    background-image: url("../images/icon_insta.png");
  } */
}

.middle-item {
  &.skills-wrap {
    margin-top: rem(120);
  }

  &.career-wrap {
    margin-top: rem(120);
  }
}

.skill-data-table {
  display: table;
  width: 100%;
}

.skill-data-tr {
  display: table-row;

  &:last-of-type {
    .skill-data-th,
    .skill-data-td {
      padding-bottom: 0;
    }
  }
}

.skill-data-th,
.skill-data-td {
  padding-bottom: rem(15);
}

.skill-data-th {
  display: table-cell;
  width: 1px;
  padding-right: rem(30);
  vertical-align: middle;
}

.skill-data-label {
  display: inline-block;
  white-space: nowrap;
  margin-left: rem(20);
}

.skill-data-td {
  display: table-cell;
  vertical-align: middle;
}

.data-chart-item {
  position: relative;
  height: rem(50);
  background: rgba(0, 0, 0, 0.1);
  border-radius: rem(10);
  overflow: hidden;

  &.html-item {
    .data-chart-current {
      background-color: #f2672e;
    }
  }

  &.js-item {
    .data-chart-current {
      background-color: #f2bf26;
    }
  }

  &.css-item {
    .data-chart-current {
      background-color: #30aadd;
    }
  }

  &.scss-item {
    .data-chart-current {
      background-color: #c95c95;
    }
  }

  &.jquery-item {
    .data-chart-current {
      background-color: #2f67aa;
    }
  }

  &.vue-item {
    .data-chart-current {
      background-color: #42b883;
    }
  }

  &.react-item {
    .data-chart-current {
      background-color: #02cafd;
    }
  }
}

.skill-label-group {
  display: flex;
  align-items: center;
}

.skill-ico {
  display: block;
  width: rem(50);
  height: rem(50);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  /* background: url("../images/icon_skills.png") no-repeat 0 0/100% auto; */

  &.html-ico {
    background-position: 0 0;
  }

  &.css-ico {
    background-position: 0 16.66666666666667%;
  }

  &.scss-ico {
    background-position: 0 33.33333333333333%;
  }

  &.jquery-ico {
    background-position: 0 50.00000000000001%;
  }

  &.bs-ico {
    background-position: 0 66.66666666666668%;
  }

  &.vue-ico {
    background-position: 0 83.33333333333335%;
  }

  &.react-ico {
    background-position: 0 100%;
  }
}

.data-chart-current {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: rem(10);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 rem(15);
}

.data-chart-current-text {
  color: #fff;
}

.timeline-list-wrap {
}

.timeline-list {
  position: relative;
  > li {
    position: relative;
    padding-left: rem(40);
    margin-bottom: rem(50);
    &:last-of-type {
      margin-bottom: 0;
      &:before {
        display: block;
        content: "";
        width: rem(30);
        height: calc(100% - rem(45));
        background: #fff;
        position: absolute;
        top: rem(45);
        left: 0;
      }
    }
    &:after {
      display: block;
      content: "";
      width: rem(10);
      height: rem(10);
      border-radius: 100%;
      position: absolute;
      top: rem(43);
      left: 0;
      border: rem(2) solid #fff;
      outline: rem(2) solid #ccc;
      background: #ccc;
    }
  }
  &:before {
    display: block;
    content: "";
    background: #ccc;
    width: 1px;
    height: calc(100% - rem(46));
    position: absolute;
    top: rem(46);
    left: rem(6);
    opacity: 0.5;
  }
}

.timeline-item {
  display: flex;
}

.timeline-thum-row {
  box-sizing: border-box;
  width: rem(200);
  height: rem(100);
  border-radius: rem(15);
  position: relative;
  overflow: hidden;
  border: rem(1) solid #ccc;
  &.type2 {
    border-color: #000;
  }
  > img {
  }
}

.timeline-spec-row {
  flex: 1;
  min-width: 0;
  margin-left: rem(30);
}

.timeline-spec-title-group {
  display: flex;
  align-items: flex-end;
}
.timeline-spec-title {
  font-weight: 700;
  font-size: rem(18);
}

.timeline-tail-group {
  margin-top: rem(5);
}

.timeline-spec-while {
  font-size: rem(14);
  color: #000;
  opacity: 0.5;
  margin-left: rem(10);
}

.timeline-spec-level {
  font-weight: 500;
  font-size: rem(14);
  margin-left: rem(15);
  opacity: 0.5;
}

.timeline-spec-tail {
  margin-top: rem(5);
  opacity: 0.8;
  color: #000;
  font-size: rem(15);
}

.timeline-project-list {
  margin-top: rem(10);
  font-size: rem(14);
  opacity: 0.5;
  color: #000;
  > li {
    margin-bottom: rem(5);
    display: flex;
    &:before {
      display: block;
      content: "-";
      white-space: nowrap;
      flex: 0;
      margin-right: rem(5);
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.timeline-project-item-group {
  margin-top: rem(10);
}
.timeline-project-item {
  margin-bottom: rem(15);
}
.timeline-project-item:last-of-type {
  margin-bottom: 0;
}
.timeline-project-title {
  font-size: rem(15);
  font-weight: 500;
}
.vertical-cont-item-wrap {
}
.vertical-cont-item {
  margin-bottom: rem(50); display:none;
  &:last-of-type {
    margin-bottom: 0;
  }
  &.active{display:block;}
}
.vertical-cont-title {
  font-size: rem(20);
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: rem(10);
}
.vertical-cont-content {
}
.codinglist-tb-wrap {
}
.codinglist-tb {
  width: 100%;
  font-size: rem(13);
  border-top: solid 2px #555;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  thead {
    tr {
      th {
        padding: 10px;
        border: solid 1px #ddd;
        background: #efefef;
        vertical-align: middle;
        font-weight: 400;
        font-size: rem(13);
        &.num {
        }
        &.depth {
        }
        &.screen-id {
        }
        &.worker {
        }
        &.work {
          &.end {
          }
        }
        &.else {
        }
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background: #fbfbfb;
      }
    }
    td {
      padding: rem(5) rem(10);
      border: solid 1px #ccc;
      vertical-align: middle;
    }
  }
}

@media (max-width: $phones) {
  .profile-thum-cols {
    flex-basis: rem(100);
    height: rem(100);
  }

  .profile-spec-cols {
    margin-left: rem(10);
  }

  .profile-main-name {
    font-size: rem(16);
  }
  .profile-icon {
    width: rem(16);
    height: rem(16);
    position: relative;
    top: rem(1);
  }
  .profile-main-unit {
    font-size: rem(12);
  }

  .profile-detail-row {
    margin-top: rem(20);
    font-size: rem(13);
  }
  .design-obj-wrap {
    margin-top: rem(20);
  }
  .design-obj {
    font-size: rem(150);
  }
  .middle-item {
    &.skills-wrap {
      margin-top: rem(60);
    }

    &.career-wrap {
      margin-top: rem(60);
    }
  }
  .skill-ico {
    width: rem(30);
    height: rem(30);
  }

  .skill-data-th {
    padding-right: rem(10);
  }

  .data-chart-item {
    height: rem(40);
    border-radius: rem(5);
  }

  .data-chart-current {
    border-radius: rem(5);
    padding: 0 rem(10);
  }
  .data-chart-current-text {
    font-size: rem(13);
  }
  .timeline-list {
    > li {
      padding-left: rem(30);
      margin-bottom: rem(30);

      &:last-of-type {
        &:before {
          width: rem(30);
          height: calc(100% - rem(30));
          top: rem(30);
          left: 0;
        }
        &:after {
          top: rem(29);
        }
      }
      &:before {
        height: calc(100% - rem(25));
        top: rem(25);
        left: 0;
      }
      &:after {
        top: rem(30);
      }
    }
  }

  .timeline-item {
    display: block;
  }

  .timeline-thum-row {
    width: rem(150);
    height: rem(75);
    border-radius: rem(8);
    > img {
    }
  }

  .timeline-spec-row {
    margin: rem(15) 0 0 0;
  }
  .timeline-spec-title-group {
    display: block;
  }
  .timeline-spec-title {
    font-size: rem(14);
  }

  .timeline-tail-group {
    margin-top: rem(5);
  }

  .timeline-spec-while {
    margin: rem(5) 0 0 0;
    font-size: rem(13);
  }

  .timeline-spec-level {
    font-size: rem(13);
    margin: rem(5) 0 0 0;
  }

  .timeline-spec-tail {
    font-size: rem(13);
  }

  .timeline-project-list {
    font-size: rem(13);
  }

  .timeline-project-title {
    font-size: rem(13);
  }
}
